<html>
<script src= "angular.min.js"></script>
<script type="text/javascript">
  app = angular.module('app',[]);
  app.controller('MyCtrl',function($scope,$http) {
     refreshData();
     $scope.addData = function() {
       $http.post("insertUpdateDelete.jsp?empCode=" + $scope.empCode + "&empName=" + $scope.empName + "&dmlType=Ins")
        .success(function(response) {
//	     $scope.empArr.push([{"EMP_CODE":$scope.empCode,"EMP_NAME":$scope.empName}]);
             refreshData();
        });
      }

     $scope.updateData = function() {
       $http.post("insertUpdateDelete.jsp?empCode=" + $scope.empCode + "&empName=" + $scope.empName + "&dmlType=Upd")
        .success(function(response) {
           refreshData();
        });
     }

     $scope.deleteData = function(curData) {
        $http.post("insertUpdateDelete.jsp?empCode=" + curData.EMP_CODE + "&empName=" + curData.EMP_NAME + "&dmlType=Del")
        .success(function(response) {
//	       	$scope.empArr.splice($scope.empArr.indexOf(curData),1);
            refreshData();
        });
     }

     function refreshData() {
       $http.get("get_oracle_data.jsp?sqlStr=select * from emp")
       .success(function(response) {
            $scope.empArr = response;
        })
       .error(function(response) {
   	     $scope.empArr={};
       });
     }

  });
</script>
<body ng-app="app">
	<div ng-controller="MyCtrl">
		<input type="text" name="empCode" ng-model="empCode" value="" />
		<input type="text" name="empName"  ng-model="empName" value="" /><br/>
		<input type="button" value="Add" ng-click="addData()" /><br/>
		<input type="button" value="Update" ng-click="updateData()" />
	     <table border=1>
		    <tr>
			<th>Emp Code</th>
			<th>Emp Name</th>
		    <tr ng-repeat="emp in empArr | orderBy : 'EMP_CODE'">
			<td>{{emp.EMP_CODE}}</td>
			<td>{{emp.EMP_NAME}}</td>
			<td>
			   <a href="" ng-click="deleteData(emp)">Remove</a>
			</td> 
		    </tr>
	   </table>
	</div>
</body>
</html>
