<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns:th="http://www.thymeleaf.org">
<head>
   <meta charset="UTF-8"> 

<title>User || Confirm</title>

<!-- Bootstrap core CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

	<link th:href="@{css/style.css}" rel="stylesheet" />
	<link th:href="@{css/fv.css}" rel="stylesheet" />
	
</head>

<body class="gray-bg">

  <div class="middle-box text-center loginscreen animated fadeInDown">
    <div>
    
      <hr />
      <!-- <h4 style="color:blue;">Forgot Password</h4> -->
      
      <h2 style="font-family:algerian;  
        background-color:cyan;">Forgot Password.</h2> 

      <div th:if="${confirmationMessage}" class="alert alert-success"
        role="alert" th:text=${confirmationMessage}></div>

      <div th:if="${errorMessage}" class="alert alert-danger"
        role="alert" th:text=${errorMessage}></div>
        
      <div th:if="${alreadyRegisteredMessage}" class="alert alert-danger"
        role="alert" th:text=${alreadyRegisteredMessage}></div>

      <!-- <form th:if="!${invalidToken}" class="m-t" id="passwordForm" role="form" action="#"
       th:object="${setPassword}" th:action="@{/confirm}" method="post"> -->
       
       <form autocomplete="off" action="#" th:action="@{/forgetPassword}" th:object="${user}" method="post" 
        	class="m-t" role="form" data-toggle="validator">

        <!-- <input type="hidden" name="token" th:value=${confirmationEmail}  > -->

        <div class="form-group input-group has-feedback">
          <span class="input-group-addon">
            <span class="glyphicon glyphicon-envelope"></span>
          </span>
          <input type="email" th:field="*{email}"
            placeholder="Email Address" class="form-control"
            data-error="This email address is invalid" required />
          <span class="glyphicon form-control-feedback"
            aria-hidden="true"></span>

        </div>

        
        	<button type="submit" class="btn btn-primary block full-width m-b">Send</button>

			<a href="/">Login</a>
      </form>

     
    </div>
  </div>

  <!-- jQuery-->
  <!-- <script
    src="//ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

  Bootstrap
  <script
    src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
    integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
    crossorigin="anonymous"></script> -->

  
  <script src="//cdnjs.cloudflare.com/ajax/libs/zxcvbn/4.4.2/zxcvbn.js"></script>
  
  <script th:src="@{js/fv.min.js}"></script>
  <script>
		$(document).ready(function() {
		    $('#passwordForm').formValidation({
		        framework: 'bootstrap',
		        icon: {
		            valid: 'glyphicon glyphicon-ok',
		            invalid: 'glyphicon glyphicon-remove',
		            validating: 'glyphicon glyphicon-refresh'
		        },
		        fields: {
		        
		            password: {
		                validators: {
		                    notEmpty: {
		                        message: 'The password is required'
		                    },
		                    callback: {
		                        callback: function(value, validator, $field) {
		                            var password = $field.val();
		                            if (password == '') {
		                                return true;
		                            }
		                            var result  = zxcvbn(password),
		                                score   = result.score,
		                                message = result.feedback.warning || 'The password is weak';
		                            // Update the progress bar width and add alert class
		                            var $bar = $('#strengthBar');
		                            switch (score) {
		                                case 0:
		                                    $bar.attr('class', 'progress-bar progress-bar-danger')
		                                        .css('width', '1%');
		                                    break;
		                                case 1:
		                                    $bar.attr('class', 'progress-bar progress-bar-danger')
		                                        .css('width', '25%');
		                                    break;
		                                case 2:
		                                    $bar.attr('class', 'progress-bar progress-bar-danger')
		                                        .css('width', '50%');
		                                    break;
		                                case 3:
		                                    $bar.attr('class', 'progress-bar progress-bar-warning')
		                                        .css('width', '75%');
		                                    break;
		                                case 4:
		                                    $bar.attr('class', 'progress-bar progress-bar-success')
		                                        .css('width', '100%');
		                                    break;
		                            }
		                            // We will treat the password as an invalid one if the score is less than 3
		                            if (score < 3) {
		                                return {
		                                    valid: false,
		                                    message: message
		                                }
		                            }
		                            return true;
		                        }
		                    }
		                }
		            }
		        }
		    });
		});
		</script>
	<!-- }); -->
 <!--  </script> -->

</body>

</html>